# git credential file
.gitconfig.local

# no thx
node_modules

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Compiled Python files
*.pyc

# Custom setup params
.extra
.function
.aliases
.gitconfig
setup-custom.sh